doctype html
- var user = user
- var player = player
- var playerCond = playerCond
- var playerTool = playerTool
- var additionalconf = additionalconf
- var additional = additional
- var sysdate = sysdate
- var conf = conf
- var path = '../../../';
html
  head
    title= conf ? conf.name : "Killer Queen " + scope
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href= path + 'css/uikit.min.css')
    script(src= path + 'js/jquery.min.js')
    script(src= path + 'js/uikit.min.js')
    script(src= path + 'js/uikit-icons.min.js')
    script(src= path + 'js/common.js')
    - const escapeLine = function(str) { return str.replace(/\r?\n/g, '<br>')}
  body(data-advance=conf.advance)
    include ./header.pug
    div.uk-container.uk-container-small
      div(class="uk-flex uk-flex-center@s uk-flex-column")
      if message
        div.uk-container
          div.uk-flex
            p.uk-margin-small-top #{message}
      else
        div.uk-container
          div.uk-flex
            a.uk-link-text(href= '/epilogue/' + player.scope + '?nowdate=' + nowdate) Back
          ul.uk-pagination.uk-flex-between(uk-margin=true)
            if(player.hist_no > 1)
              li
                a(href= player.hist_no - 1)
                  span.uk-margin-small-right(uk-pagination-previous)
                  | Prev 
            if(player.hist_no < hcnt)
              li
                a(href= player.hist_no + 1) Next
                  span.uk-margin-small-left(uk-pagination-next)
          div.uk-flex
            p.uk-text-lead #{player.user_name} （#{player.role_disp}）
          if(history)
            p.uk-text-bolder.uk-text-danger
              | 過去のPDAの状態を表示しています。※有効期間 #{player.valid_from}　～　#{player.expire_datetime}（#{player.expire_progress_date}日目）
          hr
          include ./playermain.pug
          div.uk-margin.uk-container.uk-container-small.uk-width-1-1
            div.uk-margin.uk-flex.uk-flex-center
              - if(result)
                  span #{result.message}
              - if(error)
                span #{error}
                  