doctype html
- var user = user
- var conf = conf
html
  head
    title= conf ? conf.name : "Killer Queen " + scope
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../css/uikit.min.css')
    script(src='../js/jquery.min.js')
    script(src='../js/uikit.min.js')
    script(src='../js/uikit-icons.min.js')
    script(src='../js/common.js')
  body(data-advance=conf.advance)
    include ./header.pug
    div.uk-container.uk-container-medium
      div(class="uk-flex uk-flex-center@s uk-flex-column")
      if message
        div.uk-container
          div.uk-flex
            p.uk-margin-small-top #{message}
      else
        div.uk-container
            div.uk-flex
              p この村は終了しました。
              a.uk-margin-left.uk-link-text.uk-icon-link.a_link_blank(href="javascript:void(0)" data-url=conf.wikiurl uk-icon="link")  wiki
              a.uk-margin-left.uk-link-text.uk-icon-link.a_link_blank(href="javascript:void(0)" data-url=conf.logurl uk-icon="link")  村ログ
            ul.uk-pagination.uk-margin.uk-flex-center
              li(class= (0 == nowdate) ? "uk-active" : "")
                a(href= "?nowdate=0") 初期状態
              - for(var i = 1; i < enddate + 1; i++)
                - var active = (i == nowdate);
                - var dateDisp = (i == enddate) ? "エピローグ" : i + "日目";
                li(class= active ? "uk-active" : "")
                  a(href= "?nowdate=" + i class= active ? "uk-disabled" : "") #{dateDisp}
            div
              - var epiflag = (enddate == nowdate);
              table#players.uk-table.uk-table-hover.uk-table-medium.uk-table-divider.uk-table-responsive
                thread
                  tr
                    th.uk-width-small 役職
                    th.uk-width-small  No.
                    th.uk-width-medium 名前
                    th.uk-width-medium 勝利条件
                    th.uk-width-small 
                    th.uk-width-medium(hidden=!epiflag) 
                tbody
                  each player in players
                    tr(data-id=player.player_id data-identify1=player.identify1 data-identify2=player.identify2 data-user_id=player.user_id)
                      td 
                        p #{player.role_disp}
                      td 
                        div.uk-flex.uk-flex-middle
                          p.uk-margin-remove-top.uk-margin-remove-bottom #{player.identify1}
                          p.uk-margin-remove-bottom.uk-margin-remove-top.ele_advance.uk-margin-small-left  #{player.identify2}
                      td 
                        a.uk-link-text(href= scope + "/" + player.player_id + "/" + player.hist_no + "?nowdate=" + nowdate)  #{player.user_name}
                      td 
                        p #{player.cond}
                      td
                        - var death = (player.death == 1) ? "死亡" : ""
                        p #{death}
                      td(hidden=!epiflag) 
                        p #{player.cause}
      footer.uk-container.uk-margin-bottom
        div.uk-flex
          a.uk-link-text(href="/login") back to LOGIN