doctype html
html
  head
    title killer Queen PDA System - ERROR
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../css/uikit.min.css')
    script(src='../js/uikit.min.js')
    script(src='../js/uikit-icons.min.js')
  body
    section.uk-section.uk-sektion-large
      div.uk-section.uksection-xsmall
        div.uk-container.uk-container-small.uk-width-1-1
          div(class="uk-flex uk-flex-center@s uk-margin")
            div.uk-container.uk-container-small
              - var err = err ? err : '';
              p(class='uk-h3') SERVER ERROR #{err}
          div(class="uk-flex uk-flex-center@s uk-margin")
            div.uk-container.uk-container-small
              a(href="/login"): p.uk-h4 GO TO LOGIN