doctype html
- var user = user
- var conf = conf
html
  head
    title= conf ? conf.name : "Killer Queen " + scope
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../css/uikit.min.css')
    script(src='../js/jquery.min.js')
    script(src='../js/uikit.min.js')
    script(src='../js/uikit-icons.min.js')
    script(src='../js/gamemaster.js')
    script(src='../js/common.js')
  body(data-advance=conf.advance)
    include ./header.pug
    // This is the modal
    div#modalCommit(class="" uk-modal=true)
      div.uk-modal-dialog.uk-modal-body
        - var modaltitle = (sysdate) && sysdate > 0 ? 'ゲーム進行' : 'ゲーム開始'
        - var modaltext = (sysdate) && sysdate > 0 ? 'ゲームの日付を進めます。よろしいですか。' : 'プレイヤーに情報を配布します。よろしいですか。'
        h2#modalCommitTitle.uk-modal-title #{modaltitle}
        p#modalCommitText #{modaltext}
        p.uk-text-right
          button.uk-button.uk-button-default.uk-modal-close(type="button") Cancel
          button#modalCommitComfirm.uk-button.uk-button-primary.uk-margin-small-left(type="button" data-sysdate=sysdate) OK
    div#modalEndCommit(class="" uk-modal=true)
      div.uk-modal-dialog.uk-modal-body
        h2#modalEndCommitTitle.uk-modal-title ゲーム終了
        p#modalEndCommitText ゲーム終了します。よろしいですか。※全情報が公開されます。
        span ※終了処理は多少時間がかかるかもしれません。（30秒程度）
        p.uk-text-right
          button.uk-button.uk-button-default.uk-modal-close(type="button") Cancel
          button#modalEndCommitComfirm.uk-button.uk-button-primary.uk-margin-small-left(type="button" data-sysdate=sysdate) OK
    div.uk-container
        div(class="uk-flex uk-flex-column")
          div.uk-flex.uk-flex-left.uk-flex-middle.uk-margin-small-top
            span#spanSysdate.uk-width-1-3 ゲーム #{sysdate}日目
            button.uk-button.uk-button-default(type="button" uk-toggle="target: #modalCommit") Commit
            button.uk-button.uk-button-default.uk-margin-small-left.uk-hidden(id="btnEndCommit" type="button" uk-toggle="target: #modalEndCommit") ゲーム終了
          div
            table#players.uk-table.uk-table-hover.uk-table-middle.uk-table-divider.uk-table-responsive
              thread
                tr
                  th.uk-width-medium No.
                  th.uk-width-small 役職
                  th.uk-width-medium 名前
                  th.uk-width-medium 条件
                  th
                  th.uk-width-medium 死因
                  th.col_opt_th.uk-width-small
                    div.uk-flex.uk-flex-middle
                     a#a_show.uk-margin-small-right(uk-icon="icon: pencil" uk-toggle="target: .col_opt")
                     span.col_opt(hidden=true) GMメモ
              tbody
                each player in players
                  tr(data-id=player.player_id data-identify1=player.identify1 data-identify2=player.identify2 data-user_id=player.user_id data-death=player.death data-cause=player.cause data-info=player.info)
                    td 
                      div.uk-flex
                        input.uk-input.uk-form-width-xsmall.identify1.uk-margin-small-right(name="identify1" value=player.identify1 maxlength=10)
                        input.uk-input.identify2.ele_advance(name="identify2" value=player.identify2 maxlength=10)
                    td.uk-text-nowrap 
                      a.uk-link-text(href= scope + "/editPlayerDetail/" + player.player_id) #{player.role}
                    td 
                      - var selDisabled = (sysdate > 0);
                      select.uk-select.uk-form-width-medium.user_id(name="user_id" disabled= selDisabled)
                        option(value="")
                        each playusers in users
                          - var selectedval = player.user_id == playusers.user_id;
                          option(value=playusers.user_id selected=selectedval) #{playusers.user_name}
                    td.uk-text-truncate(uk-tooltip= player.cond)  #{player.cond}
                    td.uk-text-nowrap
                      label(for="chk_death" + player.player_id)
                        - var dead = player.death == 1;
                        input.uk-checkbox.death(id="chk_death" + player.player_id type="checkbox" name="death" checked=dead) 
                        span.uk-margin-small-left 死亡
                    td
                      input.uk-input.uk-form-width-medium.cause(name="cause" value=player.cause maxlength=50)
                    td
                      input.uk-input.uk-form-width-medium.info.col_opt(name="info" value=player.info maxlength=50 hidden=true)
            div.uk-flex.uk-flex-right
              button#savePlayers.uk-button.uk-button-primary(type="button") Save