nav.uk-margin.uk-navbar-container(uk-navbar)
  - var role = (player && user && (user.auth_type == 2)) ? '（' +  player.role_disp +  '）' :  '';
  - var name = user ? user.charactername : (conf ? conf.name : 'Killer Queen PDA System')
  div.uk-navbar-left
    span.uk-margin-small-left #{name} #{role}
  if user
    div.uk-navbar-right
      ul.uk-navbar-nav
        li
          a(href="#" uk-icon="icon: menu") 
          div.uk-navbar-dropdown
            ul.uk-nav.uk-navbar-dropdown-nav
              //- li
              //-   span #{user.userid}
              //- li
              //-  a(href="javascript:void(0)") pass change
              if(conf && conf.logurl)
                li 
                  a.a_link_blank(href="javascript:void(0)" data-url=conf.logurl) 村ログ
              if(conf && conf.wikiurl)
                li 
                  a.a_link_blank(href="javascript:void(0)" data-url=conf.wikiurl) wiki
              li
                a(href="/logout") logout