doctype html
html
  head
    title killer Queen PDA System
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../css/uikit.min.css')
    script(src='../js/uikit.min.js')
    script(src='../js/uikit-icons.min.js')
  body
    section.uk-section.uk-sektion-large
      div.uk-section.uksection-xsmall
        div.uk-container.uk-container-small.uk-width-1-1
          div(class="uk-flex uk-flex-center@s uk-margin")
            div.uk-container.uk-container-small
              p(class='uk-h3') Killer Queen PDA System
          div(class="uk-flex uk-flex-center@s uk-margin")
            div.uk-container.uk-container-small
              a(href="/login"): p.uk-h4 LOGIN
      div.uk-section.uksection-xsmall.uk-margin
        div.uk-container.uk-container-small
          div(class="uk-flex uk-flex-center@s uk-flex-column")
            div
              p 終了済みの村
            div
              ul.uk-list.uk-list-divider
                li
                  a.uk-link-text(href="/epilogue/sss") Killer Queen SSS
                li
                  a.uk-link-text(href="/epilogue/peace2") Killer Queen peace2