doctype html
html
  head
    title LOGIN
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../css/uikit.min.css')
    script(src='../js/uikit.min.js')
    script(src='../js/uikit-icons.min.js')
  body
    section.uk-section.uk-sektion-large
      div.uk-section.uksection-xsmal
        div.uk-container.uk-container-small.uk-width-1-1
          div(class="uk-flex uk-flex-center@s")
            div.uk-container.uk-container-small
              p(class='uk-h3') Killer Queen PDA System
      div.uk-section.uksection-xsmall
        div.uk-container.uk-container-small
          div(class="uk-flex uk-flex-center@s")
            div.uk-container.uk-container-small.uk-width-1-1
              form.uk-form-stacked(action="/login" method="post")
                div.uk-margin
                  label.uk-form-label(for="username") username
                    input.uk-input(name="username")
                div.uk-margin
                  label.uk-form-label(for="password") password
                    input.uk-input(type="password" name="password")
                div.uk-margin.uk-flex.uk-flex-center
                    button.uk-button.uk-button-default(type="submit" name="btn-login") login
                