if(player.death == 1)
  div.uk-margin-small
    p.uk-text-bolder.uk-text-danger あなたは死亡しました。
div.uk-margin.uk-container.uk-container-small.uk-width-1-1
  div.uk-tile.uk-tile-secondary.uk-padding-remove.uk-margin-bottom
    - var identify2 = conf.advance ? player.identify2 : '';
    p.uk-h3.uk-margin-small-left あなたの勝利条件　/　No.#{player.identify1} #{identify2} （#{player.role_disp}）
  each cond in playerCond
    if(cond.valid && cond.valid > 0)
      div.uk-margin.uk-flex.uk-flex-column
        p.uk-h3.uk-margin-small-left #{cond.cond}
        span.uk-margin-small-left  !{escapeLine(cond.exp)}
div.uk-margin.uk-container.uk-container-small.uk-width-1-1
  div.uk-tile.uk-tile-secondary.uk-padding-remove.uk-margin-bottom
    p.uk-h3.uk-margin-small-left 所持ツール
  each tool, index in playerTool
    if(tool.valid && tool.valid > 0)
      if (index > 0)
        hr
      div.uk-margin.uk-flex.uk-flex-column.uk-margin-small-left
        p.uk-h4 #{(index + 1)}. #{tool.name}
        span !{escapeLine(tool.info)}
        if tool.exp
          span /* !{escapeLine(tool.exp)} */
// 村設定に追加要素ある場合のみ
if additionalconf && additionalconf.length > 0
  each conf, index in additionalconf
    div.uk-margin.uk-container.uk-container-small.uk-width-1-1
      div.uk-tile.uk-tile-secondary.uk-padding-remove.uk-margin-bottom
        p.uk-h3.uk-margin-small-left  #{conf.name}
      - var additionallist = additional[conf.div]
      each item, index in additionallist
        if(item.valid && item.valid > 0)
          if (index > 0)
            hr
          div.uk-margin.uk-flex.uk-flex-column.uk-margin-small-left
            if(item.title)
              p.uk-h4 #{(index + 1)}. #{item.title}
            span !{escapeLine(item.info)}
            if item.exp
              span /* !{escapeLine(item.exp)} */

                  