doctype html
- var user = user
- var player = player
- var conf = conf
html
  head
    title= conf ? conf.name : "Killer Queen " + scope
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../../../css/uikit.min.css')
    script(src='../../../js/jquery.min.js')
    script(src='../../../js/uikit.min.js')
    script(src='../../../js/uikit-icons.min.js')
    script(src='../../../js/playedit.js')
    script(src='../../../js/common.js')
  body(data-advance=conf.advance)
      include ./header.pug
      div.uk-container.uk-container-small
        div(id="main" class="uk-flex uk-flex-center@s uk-flex-column")
          div.uk-flex
            button.uk-button.uk-button-default(type="submit" id="btnBack" data-scope= scope) back
          div.uk-margin.uk-container.uk-container-small.uk-width-1-1.pmain
            div.uk-tile.uk-tile-secondary.uk-padding-remove
              - var role_disp = !player.role_disp ? '' : '（' + player.role_disp + '）'
              - var user_name = !player.user_name ? '' : '（' + player.user_name + '）'
              p.uk-h3.uk-margin-small-left #{player.role}#{role_disp} #{user_name}
          div.uk-margin-bottom.uk-flex.uk-flex-middle
            label.uk-margin-right
              span.uk-margin-right 識別子
              input.uk-input.uk-form-width-xsmall.player_identify1(name="player_identify1" value=player.identify1 maxlength=10)
            label.uk-margin-right.ele_advance
              span.uk-margin-right 識別子2
              input.uk-input.uk-form-width-small.player_identify2(name="player_identify2" value=player.identify2 maxlength=10)
            // プレイユーザー変更はこの画面ではやらない想定なのでいったんomit
            input.player_userid(type="hidden" data-value=player.user_id )
            input.player_user_name(type="hidden" value=player.user_name )
            input.player_role_disp(type="hidden" value=player.role_disp )
          div.uk-margin-bottom.uk-flex.uk-flex-middle
            label.uk-margin-right.uk-text-nowrap(for="chk_death")
              - var dead = player.death == 1;
              input.uk-checkbox.player_death(id="chk_death" type="checkbox" name="player_death" checked=dead)
              span.uk-margin-small-left 死亡
            input.uk-input.player_cause(name="player_cause" value=player.cause placeholder="死因" maxlength=50)
          div.uk-flex
            input.uk-input.player_info(name="player_info" value=player.info placeholder="GMメモ（プレイヤー画面非表示）" maxlength=50)
          div.uk-margin.uk-container.uk-container-small.uk-width-1-1.cond_main
            div.uk-tile.uk-tile-secondary.uk-padding-remove.uk-margin-bottom
              p.uk-h3.uk-margin-small-left 勝利条件 
            each cond, index in conds
              - var ind = index + 1
              div.uk-margin.uk-flex.uk-flex-column.uk-margin-small-left.cond_row(data-rownum= ind)
                div.uk-margin-small.uk-flex
                  label.uk-margin-right
                    input.uk-radio(type="radio" name= "cond_valid" + ind value=0 checked= cond.valid==0 ? true : false)
                    span 無効
                  label.uk-margin-right
                    input.uk-radio(type="radio" name= "cond_valid" + ind value=1 checked= cond.valid==1 ? true : false) 
                    span 有効
                  button.uk-close-large(uk-close=true data-target="cond")
                div.uk-margin-small
                  input.uk-input.txt_cond(value=cond.cond placeholder= "条件" + ind) 
                div.uk-margin-small
                  textarea.uk-textarea.txt_condexp(rows=5 placeholder= "条件補足" + ind) #{cond.exp}
                if (ind < conds.length)
                  hr
          div.uk-margin.uk-flex.uk-flex-right
            button.uk-button.uk-button-default(type="submit" id="btnCondAdd") add row
          div.uk-margin.uk-container.uk-container-small.uk-width-1-1.tool_main
            div.uk-tile.uk-tile-secondary.uk-padding-remove.uk-margin-bottom
              p.uk-h3.uk-margin-small-left 所持ツール
            each tool, index in tools
              - var ind = index + 1
              div.uk-margin.uk-flex.uk-flex-column.uk-margin-small-left.tool_row(data-rownum= ind)
                div.uk-margin-small.uk-flex
                  label.uk-margin-right
                    input.uk-radio(type="radio" name= "tool_valid" + ind value=0 checked= tool.valid==0 ? true : false)
                    span 無効
                  label.uk-margin-right
                    input.uk-radio(type="radio" name= "tool_valid" + ind value=1 checked= tool.valid==1 ? true : false) 
                    span 有効
                  button.uk-close-large(uk-close=true data-target="tool")
                div.uk-margin-small
                  input.uk-input.txt_toolname(value=tool.name placeholder= "ツール" + ind) 
                div.uk-margin-small
                  textarea.uk-textarea.txt_toolinfo(rows=7 placeholder= "ツール説明" + ind) #{tool.info}
                div.uk-margin-small
                  textarea.uk-textarea.txt_toolexp(rows=3 placeholder= "ツール補足" + ind) #{tool.exp}
                if (ind < tools.length)
                  hr
          div.uk-margin.uk-flex.uk-flex-right
            button.uk-button.uk-button-default(type="submit" id="btnToolAdd") add row
          // 村設定に追加要素ある場合のみ
          if additionalconf && additionalconf.length > 0
            each conf, index in additionalconf
              div.uk-margin.uk-container.uk-container-small.uk-width-1-1.add_main(data-additionaldiv= conf.div class= "add_" + conf.div + "_main")
                div.uk-tile.uk-tile-secondary.uk-padding-remove.uk-margin-bottom
                  p.uk-h3.uk-margin-small-left #{conf.name}
                - var additionallist = additional[conf.div]
                each item, index in additionallist
                  - var ind = index + 1
                  div.uk-margin.uk-flex.uk-flex-column.uk-margin-small-left.add_row(data-rownum= ind class= "add_" + conf.div + "_row")
                    div.uk-margin-small.uk-flex
                      label.uk-margin-right
                        input.uk-radio(type="radio" name= ("add_" + conf.div + "_valid" + ind) value=0 checked= item.valid==0 ? true : false)
                        span 無効
                      label.uk-margin-right
                        input.uk-radio(type="radio" name= ("add_" + conf.div + "_valid" + ind) value=1 checked= item.valid==1 ? true : false) 
                        span 有効
                      button.uk-close-large(uk-close=true data-target= "add_" + conf.div)
                    div.uk-margin-small
                      input.uk-input.txt_addtitle(value=item.title placeholder= conf.name + ind) 
                    div.uk-margin-small
                      textarea.uk-textarea.txt_addinfo(rows=7 placeholder= conf.name + '詳細情報' + ind) #{item.info}
                    div.uk-margin-small
                      textarea.uk-textarea.txt_addexp(rows=2 placeholder= conf.name + '補足' + ind) #{item.exp}
                    if (ind < additionallist.length)
                      hr
              div.uk-margin.uk-flex.uk-flex-right
                button.uk-button.uk-button-default(type="submit" id= ("btnAdditionalAdd" + conf.div) class="btnAdditionalAdd" data-additionaldiv= conf.div data-additionalname= conf.name) add row
          div.uk-margin.uk-flex.uk-flex-center
            button.uk-button.uk-button-default.uk-margin-small-right(type="submit" id="btnPreview") Preview
            button.uk-button.uk-button-primary(type="submit" id="btnSave") Save
          div.uk-hidden
            form(id="prevForm" method="POST" action="preview" target="newWindow")
              input(type="hidden" name="jsondata")
          div.uk-flex.uk-flex-center
            span.span_msg
          div.uk-margin.uk-container.uk-container-small.uk-width-1-1
            div.uk-margin.uk-flex.uk-flex-center
              - if(result)
                  span #{result.message}
              - if(error)
                span #{error}
                  