doctype html
- var user = user
- var player = player
- var playerCond = playerCond
- var playerTool = playerTool
- var additionalconf = additionalconf
- var additional = additional
- var sysdate = sysdate
- var conf = conf
- var path = history ? '../../../' : '../'
html
  head
    title= conf ? conf.name : "Killer Queen " + scope
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href= path + 'css/uikit.min.css')
    script(src= path + 'js/jquery.min.js')
    script(src= path + 'js/uikit.min.js')
    script(src= path + 'js/uikit-icons.min.js')
    script(src= path + 'js/player.js')
    script(src= path + 'js/common.js')
    - const escapeLine = function(str) { return str.replace(/\r?\n/g, '<br>')}
  body(data-advance=conf.advance)
      include ./header.pug
      div.uk-container.uk-container-small
        div(class="uk-flex uk-flex-center@s uk-flex-column")
          if !(sysdate) || sysdate == 0
            p.uk-h3.uk-margin-small-top Getting Ready.
            p.uk-margin-small-left ゲーム開始までしばらくお待ちください。
          else
            - var pHref = history ? (player.hist_no - 1) : user.scope + "/history/" + player.now_hist_no;
            ul.uk-pagination.uk-flex-between(uk-margin=true)
              if((!player.hist_no || player.hist_no > 1) && player.now_hist_no != 0)
                li
                  a(href= pHref)
                    span.uk-margin-small-right(uk-pagination-previous)
                    | Prev history
              if(history)
                li
                  a(uk-icon="home" href= "/player/" + user.scope )
              if(history && player.hist_no < player.now_hist_no)
                li
                  a(href= player.hist_no + 1) Next
                    span.uk-margin-small-left(uk-pagination-next)
            if(history)
              p.uk-text-bolder.uk-text-danger
                | 過去のPDAの状態を表示しています。※ #{player.expire_progress_date}日目（#{player.expire_datetime}）に更新
            include ./playermain.pug
            div.uk-margin.uk-container.uk-container-small.uk-width-1-1
              div.uk-margin.uk-flex.uk-flex-center
                - if(result)
                    span #{result.message}
                - if(error)
                  span #{error}
                  