doctype html
- var user = user
- var player = player
- var playerCond = playerCond
- var playerTool = playerTool
- var additionalconf = additionalconf
- var additional = additional
- var sysdate = sysdate
- var conf = conf
- var path = '../../../';
html
  head
    title= conf ? conf.name : "Killer Queen " + scope
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href= path + 'css/uikit.min.css')
    script(src= path + 'js/jquery.min.js')
    script(src= path + 'js/uikit.min.js')
    script(src= path + 'js/uikit-icons.min.js')
    script(src= path + 'js/common.js')
    - const escapeLine = function(str) { return str.replace(/\r?\n/g, '<br>')}
  body(data-advance=conf.advance)
    include ./header.pug
    div.uk-container.uk-container-small
      div(class="uk-flex uk-flex-center@s uk-flex-column")
      if message
        div.uk-container
          div.uk-flex
            p.uk-margin-small-top #{message}
      else
        div.uk-container
          div.uk-flex
            p.uk-text-lead #{player.user_name}
          include ./playermain.pug
          div.uk-margin.uk-flex.uk-flex-center
            button.uk-button.uk-button-default.uk-margin-small-right.btn_close Close
          div.uk-margin.uk-container.uk-container-small.uk-width-1-1
            div.uk-margin.uk-flex.uk-flex-center
              - if(result)
                  span #{result.message}
              - if(error)
                span #{error}
                  