doctype html
- var user = user
html
  head
    title  Killer Queen PDA System
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../css/uikit.min.css')
    script(src='../js/jquery.min.js')
    script(src='../js/uikit.min.js')
    script(src='../js/uikit-icons.min.js')
    script(src='../../../js/admin.js')
    script(src='../js/common.js')
  body
    include ./header.pug
    div.uk-section.uksection-xsmall
      div.uk-container.uk-container-small
        div(class="uk-flex uk-flex-center@s")
          div.uk-container.uk-container-small.uk-width-1-1
            form.uk-form-stacked(id="main")
              div.uk-margin
                label.uk-form-label(for="scope") scope
                  select.uk-input.sel_scope(name="scope" disabled=!isNew)
                    each item in adminConf.scopelist
                      - var scopeSel = !isNew && targetUser.scope == item;
                        option(value=item selected=scopeSel) #{item}
              div.uk-margin
                label.uk-form-label(for="auth_type") auth_type
                  select.uk-input.sel_auth_type(name="auth_type")
                    each item in adminConf.authtypelist
                      - var authTypeSel =  !isNew && targetUser.auth_type == item.value;
                        option(value=item.value selected=authTypeSel) #{item.name}
              div.uk-margin
                label.uk-form-label(for="userid") userid
                  // TODO only alnum
                  input.uk-input.txt_userid(name="userid" placeholder="userid" maxlength=30 value=targetUser.user_id  disabled=!isNew)
              div.uk-margin
                label.uk-form-label(for="password") password
                  input.uk-input.txt_password(name="password" placeholder="password" maxlength=20)
              div.uk-margin
                label.uk-form-label(for="username") username
                  input.uk-input.txt_username(name="username" placeholder="username" maxlength=20 value=targetUser.user_name)
              div.uk-margin-small.uk-flex
                - var isValid = isNew || 1 == targetUser.valid;
                label.uk-margin-right
                  input.uk-radio(type="radio" name= "valid" value=0 checked=!isValid)
                  span 無効
                label.uk-margin-right
                  input.uk-radio(type="radio" name= "valid" value=1 checked=isValid) 
                  span 有効
              div.uk-hidden
                input(type="hidden" name="isNew" value=(isNew ? 1 : 0))
            div.uk-margin.uk-flex.uk-flex-center
                button.uk-button.uk-button-default.uk-margin-small-right(id="btnBack") Back
                button.uk-button.uk-button-primary(id="btnRegist") Regist
            div.uk-flex.uk-flex-center
              span.span_msg

                