doctype html
- var user = user
html
  head
    title Killer Queen PDA System
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../css/uikit.min.css')
    script(src='../js/jquery.min.js')
    script(src='../js/uikit.min.js')
    script(src='../js/uikit-icons.min.js')
    script(src='../../../js/admin.js')
    script(src='../js/common.js')
  body
    include ./header.pug
    div.uk-container
        div(class="uk-flex uk-flex-column")
          form.uk-flex(id="searchForm" method="POST" action="/" + user.scope)
            select.uk-select.uk-form-width-medium.uk-margin-small-right(id="sel_scope" name="scope")
              each item in adminConf.scopelist
                option(value=item) #{item}
            button#btnSearch.uk-button.uk-button-default(type="button") search
          div
            table#tbl_users.uk-table.uk-table-hover.uk-table-middle.uk-table-divider.uk-table-responsive
              thread
                tr
                  th.uk-width-small scope
                  th.uk-width-small id
                  th.uk-width-medium name
                  th.uk-width-small auth_type
              tbody
                each item in users
                  tr(data-id=item.user_id data-scope=item.scope)
                    td  #{item.scope}
                    td
                      a.uk-link-text(href= "/" + user.scope + "/regist?user_id=" + item.user_id + "&scope=" + item.scope)  #{item.user_id}
                    td  #{item.user_name}
                    td  #{item.auth_type}
          div.uk-flex.uk-flex-right
            button#btnNewRegist.uk-button.uk-button-primary(type="button" data-url="/" + user.scope + "/regist") New Regist